#Titre_Supp{
    border: none;
    margin-top: 50px;
    margin-left: auto;
    font-size: 250%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
#Titre
{
    border: 2px solid rgb(176, 17, 216);
    border-radius : 20px;
    display: block;
    padding-left: 85px;
    padding-bottom: 15px;
    font-size: 500%;
    background-color: rgb(176, 17, 216);
    color: white;
    margin-top: 20px;
    margin-left: 600px;
    margin-right: 600px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    top: 20px;
}
#rejoindre
{
    margin-top: 200px;
    margin-left: 10px;
    border: none;
    font-size: 250%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
#conditions_titre
{
    width: auto;
    height: auto;
    margin-left: 0px;
    margin-top: 70px;
    border: none;
    font-size: 170%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#conditions
{
    width: auto;
    height: auto;
    margin-left: 0px;
    margin-top: 20px;
    border: none;
    font-size: 150%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#methode1
{
    border: none;
    margin-top: 200px;
    margin-left: auto;
    font-size: 250%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
#retour
{
    background-color: grey;
    border: 2px solid grey;
    width: 80px;
    height: 30px;
    margin-top: -100px;
    margin-left: 0px;
    font-size: 140%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 5px;
    padding-bottom: 3px;
    color: white;
}
#image1
{
    border: none;
    margin-top: -190px;
    margin-left: 1000px;
    width: 800px;
}
#MOPA_ref
{
    border: none;
    color: red;
    opacity: 70%;
    position: relative;
}
#E1
{
    border: none;
    font-size: 180%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 170px;
}
#E1²
{
    border: none;
    font-size: 180%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 15px;
    margin-left: 400px;
}
#E2
{
    border: none;
    font-size: 180%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 120px;
    margin-left: 900px;
}
#img2S
{
    width: 40px;
    margin-left: 20px;
    margin-bottom: -15px;
}
#E2²
{
    border: none;
    font-size: 180%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    margin-left: 1000px;
}
#img3
{
    border: none;
    margin-top: -200px;
    margin-left: 20px;
    width: 800px;
}
#E2²²
{
    border: none;
    font-size: 180%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 20px;
    margin-left: 900px;
}
#E3
{
    border: none;
    font-size: 180%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 160px;
    margin-left: 40px;
}
#E3²
{
    border: none;
    font-size: 180%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 15px;
    margin-left: 300px;
}
#img4
{
    border: none;
    margin-top: -180px;
    margin-left: 1000px;
    width: 800px;
}
#E
{
    border: none;
    font-size: 180%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 15px;
    margin-left: 1200px;
}
#E2_
{
    border: none;
    font-size: 180%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 170px;
    margin-left: 900px;
}
#E1_
{
    border: none;
    font-size: 180%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 120px;
    margin-left: 100px;
}
#discord
{
    border: none;
    font-size: 120%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#Titre_discord
{
    border: none;
    font-size: 220%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    margin-top: 200px;
    margin-bottom: 100px;
}
#img_D1
{
    border: none;
    width: 250px;
    margin-top: -150px;
    margin-left: 220px;
}
#ED
{
    border: none;
    font-size: 180%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 200px;
    margin-left: 800px;
}
#ED2
{
    border: none;
    font-size: 180%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 300px;
    margin-left: 150px;
}
#img_D2
{
    border: none;
    width: 500px;
    margin-top: -250px;
    margin-left: 1200px;
}
#img_D3
{
    border: none;
    width: 500px;
    margin-top: -350px;
    margin-left: 100px;
}
#ED3
{
    border: none;
    font-size: 180%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 250px;
    margin-left: 800px;
}
#ED4
{
    border: none;
    font-size: 180%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-top: 50px;
    margin-left: 800px;
}
.btn
{
    bottom: 20px;
    right: 20px;
    width: 50px;
    position: fixed;
    z-index: 4;
    display: flex;
    cursor: pointer;
}
#fleche_img
{
    width: 50px;
}
#aide{
    width: 90%;
    margin-left: 50px;
}
.collapsible {
    background-color: #f1bf85;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 25px;
    margin-top: 20px;
  }
  
  .active, .collapsible:hover {
    background-color: #d6aa77;
  }
  
  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .content {
    padding: 0 18px;
    font-size: 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1bf85;
  }



#footer{
    height: 250px;
    background-color: #558C8C;
    display: flex;
    margin-top: 20px;
}
#box1{
    display: block;
    font-size: 30px;
    margin-right: 41%;
    margin-left: 20%;
    margin-top: auto;
    margin-bottom: auto;
}
#box2{
    display: block;
    font-size: 30px;
    margin-top: auto;
    margin-bottom: auto;
}

@media all and (max-width: 1560px)
{
    #container
    {
        width: 170%;
        font-size: 220%;
    }
    #E, #E1, #E1², #E2, #E2², #E2²², #E3, #E3², #E2_, #E1_, #ED1, #ED2, #ED3, #ED
    {
        margin-left: 0px;
    }
    #image1
    {
        margin-top: 50px;
        margin-bottom: 30px;
        margin-left: 0px;
    }
    #img3
    {
        margin-top: 50px;
        margin-left: 0px;
    }
    #img4
    {
        margin-top: 50px;
        margin-left: 0px;
    }
    #methode1
    {
        width: 100%;
        margin-left: 0px;
    }
    #img_D1, #img_D2, #img_D3
    {
        margin-top: 50px;
        margin-bottom: -100px;
        margin-left: 0px;
    }
    #img_D3
    {
        margin-top: 50px;
        margin-bottom: 100px;
        margin-left: 0px;
    }
    #ED4
    {
        margin-left: 0px;
        margin-top: 10px;
    }
    #retour
    {
        margin-top: -190px;
        margin-bottom: 400px;
    }
    #Titre
    {
        margin-left: 200px;
        margin-right: 0px;
        margin-top: 100px;
        margin-bottom: 300px;
        width: 50%;
    }
    #MOPA_ref
    {
        font-size: 50%;
    }
    #retour
    {
        margin-top: -800px;
        margin-bottom: 700px;
        height: 70px;
        width: 150px;
    }
    .btn
    {
        bottom: 20px;
        right: 20px;
        width: 100px;
        position: fixed;
        z-index: 4;
        display: flex;
        cursor: pointer;
    }
    #fleche_img
    {
        width: 100px;
    }
    #image1, #img3, #img4, #img_D2, #img_D3{
        width: 100%;
        margin-left: -20px;
    }
    #aide{
        margin-left: 30px;
    }
}